<h1>Create new user</h1>

<form action="<%= users_url %>" method="post">
  <label for="user_name">Username:</label>
  <input id="user_name" type="text", name="user[user_name]", value="<%= @user.user_name %>">
  <br>
  <label for="password">Password:</label>
  <input id="password" type="password", name="user[password]", value="<%= @user.password %>">
  <br>
  <button type="submit">Create user</button>
</form>